.generalForm,
.experienceForm,
.educationForm {
  display: flex;
  flex-direction: column;
}

.formSection{
    border: 2px solid black;
    padding:15px;
    border-radius: 25px;
}

.addingTasks {
  display: grid;
  grid-template-columns: auto 20%;
}

.resume{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.educationSection{
  display:flex;
  flex-direction: column;
  gap:10px;
}
.educationForm{
  border:solid 2px black;
  border-radius: 25px;
  padding:10px;
}