.generalSection{
    display:flex;
    flex-direction: column;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
  }

  #root{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
  }

  .resumeWindow{
    border:2px solid black;
    padding:15px;
    border-radius: 25px;
  }